<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="android suite" verbose="1">

	<parameter name="appurl" value="${appurl}" />
	<parameter name="build" value="${build}" />
	<parameter name="jenkinsHome" value="${jenkinsHome}" />
	<parameter name="projectName" value="${projectName}" />
	<!--<parameter name="appurl" value="" />
	 <parameter name="appurl" value="http://10.20.254.206/busapp/man.php?type=download&amp;filedir=apk/busandroid/Elong_Trunk_9360_108.apk" 
		/> -->
	<test name="flight uitest">

		<classes>
			<!-- -->

			<class name="com.elong.android.flight.test.DomesticFlightTest" />
			<class name="com.elong.android.flight.test.DomesticRoundFlightTest" />
			<class name="com.elong.android.flight.test.InternationalFlightTest" />
			<class name="com.elong.android.flight.test.InternationalRoundFlightTest" />

		</classes>

	</test>
</suite>